<header class="header shadow">
    <a routerLink="/home" class="header__logo">
        <h1 class="title text-gradient">iQaligner</h1>
    </a>
    <nav class="header__nav">
        <a routerLink="/home" class="header__nav-link">Главная</a>
        <a routerLink="/home" fragment="process" class="header__nav-link">Как это работает?</a>
        <a routerLink="/home" fragment="reviews" class="header__nav-link">Отзывы</a>
    </nav>
    <div class="header__profile-info">
        @if(!userData) {
            <button mat-fab extended class="btn btn--block btn--gradient header__btn-auth" (click)="openAuthDialog()">Войти</button>
        } @else {
            <button routerLink="/profile" class="btn btn--mini btn--gradient margin-right20 header__profile-avatar"><img [src]="userData.avatar" class="img header__profile-avatar-img"></button>
            <button mat-fab class="btn btn--mini btn--gradient" (click)="handleLogout()" routerLink="/home"><mat-icon>exit_to_app</mat-icon></button>
        }
    </div>
</header>