.theme--toggler {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: var(--gradient);
}
.chat-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--gradient);
}