.theme--toggler {
    z-index: 99;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: var(--gradient);
}
.chat-button {
    z-index: 99;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--gradient);
}