.result-card {
    margin: 10px;
    background-color: var(--elemBgColor);
    min-height: 300px;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--gradient);
        margin: -1px;
        border-radius: 15px;
    }

    &__type {
        width: 100%;
        text-align: center;
        font-size: 32px;
        padding: 35px 0;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    &__block-title {
        margin-bottom: 10px;
    }

    &__profession {
        &-list {
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            padding: 5px 10px;
            background-color: var(--bgColor);
            border-radius: 50px;
            margin: 0 10px 10px 0;
        }
    }

    &__btn {
        &-showAll {
            color: var(--mainTextColor);
            width: max-content;
            text-decoration: underline;
            margin-bottom: 10px;

            &:hover {
                background: var(--gradient);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        &-delete {
            background-color: var(--red);
        }
    }

    &__actions {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: flex-end;
    }
}