@if(userData) {
<div class="profile">
    <div class="profile__header">
        <div class="profile__header-content">
            <div class="profile__avatar">
                <img [src]="userData.avatar" alt="avatar" class="profile__avatar-img img">
                <button (click)="handleOpenChangeAvatar()" class="btn text-gradient profile__avatar-btn">Изменить аватар</button>
            </div>
            <div class="profile__user-data">
                <div class="profile__user-info">
                    <h2 class="profile__username">{{userData.username}}</h2>
                    <p class="profile__fullname">{{userData.firstName + " " + userData.lastName}}</p>
                </div>
                <button mat-fab extended class="btn --box btn--gradient" (click)="handleOpenChangeUserInfo()">Изменить профиль</button>
            </div>
        </div>
        <div class="profile__devider"></div>
    </div>
    <div class="profile__content">
        <h2 class="profile__content-title">
            Ваша история запросов
        </h2>
        @if(loading) {
            <div class="profile__loading loading">
                <mat-spinner></mat-spinner>
            </div>
        }@else {
            <div class="profile__result-history">
                @if(!answers) {
                    <h1>Ошибка при загрузке</h1>
                }@else {
                    @if(answers.length > 0) {
                        <div class="profile__result-list">
                            @for(answer of answers; track answer) {
                                <app-result-card [answerId]="answer._id" [aiAnswer]="answer.aiAnswer" class="profile__result-item" (downloadBtnClicked)="handleDownloadDiplome(answer, userData)"></app-result-card>
                            }
                        </div>
                    }@else {
                        <h3 class="profile__result-null">У вас нет запросов, узнайте свой тип личности прямо сейчас!</h3>
                    }
                }
            </div>
        }

    </div>
</div>
}
<div class="diplome__area" style="width: 210mm; height: 297mm; size: A4; position: absolute; z-index: -999; opacity: 0; overflow: hidden; background-color: white;">
    <ng-template #diplomeContainer style="width: 100%; height: 100%;"></ng-template>
</div>