<button mat-mini-fab class="btn btn--close dialog-btn-close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="dialog-content">
    

    <header class="dialog-header">
        <h1 class="dialog-title text-gradient">{{registration ? "Регистрация" : "Вход"}}</h1>
    </header>
    @if(!registration) {
    <form [formGroup]="loginForm">
        <p>
            <mat-form-field>
                <mat-label>Логин</mat-label>
                <input matInput placeholder="Логин" type="text" formControlName="username" maxlength="100">
                <mat-icon matSuffix>person</mat-icon>
                @if(loginForm.controls['username'].invalid && (loginForm.controls['username'].touched ||
                loginFormSubmit)){
                @if(loginForm.controls['username'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                }
            </mat-form-field>

        </p>
        <p>
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput placeholder="Пароль" [type]="passwordVisibility ? 'text' : 'password'"
                    formControlName="password">
                <mat-icon (click)="passwordVisibility = !passwordVisibility" matSuffix
                    style="cursor: pointer;">{{passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                @if(loginForm.controls['password'].invalid && (loginForm.controls['password'].touched ||
                loginFormSubmit)){
                @if(loginForm.controls['password'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                }
            </mat-form-field>
        </p>
    </form>
    } @else {
    <form [formGroup]="regForm">
        <p>
            <mat-form-field>
                <mat-label>Логин</mat-label>
                <input matInput placeholder="Логин" type="text" formControlName="username" maxlength="100">
                <mat-icon matSuffix>person</mat-icon>
                @if(regForm.controls['username'].invalid && (regForm.controls['username'].touched ||
                regFormSubmit)){
                @if(regForm.controls['username'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                @if(regForm.controls['username'].errors?.['minlength']){
                <mat-error>Минимум 6 символов</mat-error>
                }
                @if(regForm.controls['username'].errors?.['maxlength']){
                <mat-error>Максимум 55 символов</mat-error>
                }
                }
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Почта</mat-label>
                <input matInput placeholder="Почта" type="text" formControlName="mail">
                <mat-icon matSuffix>person</mat-icon>
                @if(regForm.controls['mail'].invalid && (regForm.controls['mail'].touched ||
                regFormSubmit)){
                @if(regForm.controls['mail'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                @if(regForm.controls['mail'].errors?.['email']){
                <mat-error>Некорректная почта</mat-error>
                }
                }
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput placeholder="Имя" type="text" formControlName="firstName">
                <mat-icon matSuffix>person</mat-icon>
                @if(regForm.controls['firstName'].invalid && (regForm.controls['firstName'].touched ||
                regFormSubmit)){
                @if(regForm.controls['firstName'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                @if(regForm.controls['firstName'].errors?.['minlength']){
                <mat-error>Минимум 3 символа!</mat-error>
                }
                }
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Фамилия</mat-label>
                <input matInput placeholder="Фамилия" type="text" formControlName="lastName">
                <mat-icon matSuffix>person</mat-icon>
                @if(regForm.controls['lastName'].invalid && (regForm.controls['firstName'].touched ||
                regFormSubmit)){
                @if(regForm.controls['firstName'].errors?.['maxlength']){
                <mat-error>Максимум 55 символов!</mat-error>
                }
                }
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput placeholder="Пароль" [type]="passwordVisibility ? 'text' : 'password'"
                    formControlName="password">
                <mat-icon (click)="passwordVisibility = !passwordVisibility" matSuffix
                    style="cursor: pointer;">{{passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                @if(regForm.controls['password'].invalid && (regForm.controls['password'].touched ||
                regFormSubmit)){
                @if(regForm.controls['password'].errors?.['required']){
                <mat-error>Заполните поле!</mat-error>
                }
                @if(regForm.controls['password'].errors?.['minlength']){
                <mat-error>Минимум 6 симоволов!</mat-error>
                }
                }
            </mat-form-field>
        </p>
    </form>
    }
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    @if(error !== null) {
    <p class="dialog-error">
        {{error}}
    </p>
    }
    @if(isLoading) {
        <mat-spinner style="margin: 0 auto; margin-bottom: 20px;"></mat-spinner>
        }
    @if(!registration) {
    <button mat-raised-button class="dialog-button" [disabled]="false"
        (click)="handleOnLogin(loginForm.value)">Войти</button>
    }@else {
    <button mat-raised-button class="dialog-button" (click)="handleOnReg(regForm.value)">Зарегестрироваться</button>
    }
    <button class="dialog-link text-gradient" (click)="handleChangeForm()">{{registration ? "Есть аккаунт? Войти" : "Нет аккаунта? Зарегестрироваться"}}</button>
</mat-dialog-actions>