.dialog {
    &-btn {
        &-close {
            align-self: flex-end;
            margin: 5px;
        }
    }
    &-header {
        display: flex;
        justify-content: center;
    }
    &-actions {
        display: flex;
        flex-direction: column;
    }
    &-button {
        margin-bottom: 10px;
        width: 100%;
    }
    &-link {
        font-weight: 400;
        color: blue;
    }
    &-error{
        color: red;
        text-align: center;
        margin: 0;
    }
}