<div class="home">
    <section class="section main">
        <div class="block shadow">
            <h1 class="title block-title text-gradient">Узнайте свой тип личности</h1>
            <h2 class="block-subtitle">И идеальную для вас профессию</h2>
            <div class="block-text">Наш сайт использует передовую AI для определения вашего типа личности и нахождения
                подходящей профессии. Просто ответьте на несколько вопросов, и мы поможем вам раскрыть ваш потенциал и
                найти идеальное направление для развития карьеры.</div>
            <div class="block-menu">
                <button mat-fab extended class="btn btn--block btn--gradient margin-right20 block-menu-button"
                    (click)="handleOpenChat()">Узнать тип</button>
                <button routerLink="/home" fragment="types" mat-fab extended class="btn btn--block btn--border">Подробнее</button>
            </div>
        </div>
    </section>
    <section class="section types" id="types">
        <h1 class="types__title">
            <span class="types__title-big">Помощник iQaligner</span>
            <span class="text-gradient">Для тех кто хочет определить свой тип личности</span>
        </h1>
        <p class="types__subtitle">
            <span class="holerik">Холерик, </span>
            <span class="flegmatic">Флегматик, </span>
            <span class="sangvinnik">Сангвинник, </span>
            <span class="melancholic">Меланхолик. </span>
            <span>И узнать подходящие вам профессии!</span>
        </p>
        <div class="types__buttons">
            <button mat-fab extended class="btn btn--block btn--gradient margin-right20 block-menu-button"
                (click)="handleOpenChat()">Узнать тип</button>
        </div>
        <div class="types__images">
            <img class="types__images-img" src="assets/laptop.png" alt="laptop">
        </div>
    </section>
    <section class="section reviews" id="reviews">
        <h1 class="section-title">Наш Ассистент помог определиться уже более {{countReviews.count}} раз</h1>
        <h2 class="section-subtitle reviews__subtitle">Вот что пишут наши пользователи</h2>
        @if(loading) {
        <div class="reviews__spinner">
            <mat-spinner></mat-spinner>
        </div>
        }
        @if(reviews) {
        <swiper-container class="reviews__container" pagination="true" pagination-clickable="true" slides-per-view="2"
            space-between="30" centered-slides="true" [breakpoints]="swiperBreakpoints" speed="2000"
            autoplay='{"delay": 4500, "disableOnInteraction": false}'>
            @for(review of reviews; track review) {
            <swiper-slide class="reviews__container-item box-shadow">
                <app-review-card class="review__card" [reviewData]="review"></app-review-card>
            </swiper-slide>
            }
        </swiper-container>
        }@else if(!reviews && !loading) {
        <p>Данных нет, проблемы с интернетом</p>
        }
        <p class="section-subtitle">( Вы можете оставить отзыв, пройдя тест на определение личности )</p>
    </section>
    <section class="section process" id="process">
        <h1 class="section-title">
            Как проходит процесс
        </h1>
        <ul class="process__list">
            <li class="process__item">
                <div class="process__item-wrapper">
                    <div class="process__item-icon"><mat-icon class="process__item-icon-img">how_to_reg</mat-icon></div>
                    <div class="process__item-content">
                        <h3 class="process__item-title text-gradient">Регистрация на сайте</h3>
                        <div class="process__item-text">Для получения доступа к нашему чату с ИИ, необходимо
                            зарегестрироваться на нашем сайте.</div>
                    </div>
                </div>
                <div class="process__item-index">I</div>
            </li>
            <li class="process__item">
                <div class="process__item-wrapper">
                    <div class="process__item-icon"><mat-icon class="process__item-icon-img">contact_support</mat-icon>
                    </div>
                    <div class="process__item-content">
                        <h3 class="process__item-title text-gradient">Начало диалога с ИИ</h3>
                        <div class="process__item-text">Начните проходить короткий тест составленный нашим ИИ для
                            определения типа личности и профессии.</div>
                    </div>
                </div>
                <div class="process__item-index">II</div>
            </li>
            <li class="process__item">
                <div class="process__item-wrapper">
                    <div class="process__item-icon"><mat-icon class="process__item-icon-img">psychology</mat-icon></div>
                    <div class="process__item-content">
                        <h3 class="process__item-title text-gradient">Анализ ваших ответов</h3>
                        <div class="process__item-text">После того как вы пройдете тест, наш ИИ проанализирует ваши
                            ответы и выдаст вам ваш результат.</div>
                    </div>
                    <div class="process__item-index">III</div>
                </div>
            </li>
            <li class="process__item">
                <div class="process__item-wrapper">
                    <div class="process__item-icon"><mat-icon
                            class="process__item-icon-img">workspace_premium</mat-icon></div>
                    <div class="process__item-content">
                        <h3 class="process__item-title text-gradient">Получение сертификата</h3>
                        <div class="process__item-text">После получения результата, в профиле вы можете посмотреть его,
                            а так же скачать ваш сертификат.</div>
                    </div>
                    <div class="process__item-index">IV</div>
                </div>
            </li>
        </ul>

    </section>
    <section class="section important" id="important">
        <h1 class="section-title">Почему важно отвечать честно?</h1>
        <p class="section-subtitle">( Помните, что все ваши данные будут храниться конфиденциально и не будут переданы
            третьим лицам. Наша главная цель – помочь вам найти свой путь к успеху! )</p>
        <ul class="important__list">
            <li class="important__item">
                <div class="important__item-wrapper">
                    <div class="important__item-icon">
                        <mat-icon class="process__item-icon-img">crisis_alert</mat-icon>
                    </div>
                    <div class="important__item-content">
                        <h3 class="important__item-title text-gradient">Точность результатов</h3>
                        <p class="important__item-text">Честные ответы обеспечат точное определение вашего типа личности и наиболее подходящей профессии. Если вы предоставите точную информацию о своих предпочтениях, навыках и опыте, ИИ сможет предложить вам варианты карьерного пути, которые наиболее соответствуют вашим сильным сторонам и интересам. Это поможет избежать неверных рекомендаций и сэкономит ваше время.
                        </p>
                    </div>
                </div>
            </li>
            <li class="important__item">
                <div class="important__item-wrapper">
                    <div class="important__item-icon">
                        <mat-icon class="process__item-icon-img">mood</mat-icon>
                    </div>
                    <div class="important__item-content">
                        <h3 class="important__item-title text-gradient">Личная удовлетворенность</h3>
                        <p class="important__item-text">Искренние ответы помогут лучше понять себя и найти карьеру, которая действительно вам подходит. Когда вы отвечаете честно, ИИ может более точно выявить ваши мотивации, интересы и ценности, что позволит предложить вам профессии и роли, которые будут приносить вам больше удовлетворения и счастья в долгосрочной перспективе.
                        </p>
                    </div>
                </div>
            </li>
            <li class="important__item">
                <div class="important__item-wrapper">
                    <div class="important__item-icon">
                        <mat-icon class="process__item-icon-img">loyalty</mat-icon>
                    </div>
                    <div class="important__item-content">
                        <h3 class="important__item-title text-gradient">Эффективность рекомендаций</h3>
                        <p class="important__item-text">Наши рекомендации будут полезны только в том случае, если они основаны на реальной информации о вас. Честные ответы обеспечат более точные и персонализированные рекомендации, которые помогут вам развивать карьеру, соответствующую вашим настоящим потребностям и целям. Это повысит шансы на ваш профессиональный успех и личное удовлетворение от работы.
                        </p>
                    </div>
                </div>
            </li>
            
        </ul>
    </section>
   
</div>