.section {
    margin-bottom: 50px;
    &-title {
        text-align: center;
        margin-bottom: 20px;
    }
}

.main {
    position: relative;
    height: 100vh;
    min-height: 820px;
    display: flex;

    align-items: center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        background-image: url('../../../../assets/bg-wawes.png');
        background-size: cover;
        height: 100%;
        width: 50%;
    }
    .block {
        padding: 30px;
        width: 60%;
        background-color: var(--elemBgColor);
        border-radius: 20px;
        z-index: 20;
        backdrop-filter: blur(3px);
        transition: all .5s;
        &-title {
            margin-bottom: 10px;
        }
        &-subtitle {
            font-size: 30px;
            margin-bottom: 30px;
        }
        &-text {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 768px) {
        .block {
            padding: 25px;
            width: 85%;
            &-subtitle {
                font-size: 20px;
                margin-bottom: 5px;
            }
            &-text {
                font-size: 18px;
            }
            &-menu {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-button {
                    margin-bottom: 15px;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .block {
            padding: 10px;
            width: 100%;
            &-subtitle {
                font-size: 20px;
                margin-bottom: 15px;
            }
            &-text {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
}

.types {
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 36px;
        &-big {
            font-size: 48px;
        }
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
       
    }
    &__buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 90px;
    }
    &__images {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        min-height: 200px;
        &-img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        &__title {
            font-size: 28px;
            &-big {
                font-size: 40px;
            }
        }
        &__subtitle {
            font-size: 20px;
        }
        &__images {
            height: auto;
        }
    }
    @media screen and (max-width: 480px) {
        &__title {
            font-size: 22px;
            &-big {
                font-size: 32px;
            }
        }
        &__subtitle {
            font-size: 18px;
        }
    }

}

.stages {
    border-radius: 0;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: calc(100% / 3 - 10px);
        &:last-child {
            margin-right: 0;
        }
    }
    .stage {
        background: var(--gradientLight);
        min-height: 250px;
        border-radius: 20px;
        padding: 10px;
        &__title {
            text-align: center;
            font-size: clamp(30px, 10%, 10px);
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 480px) {
        &__list {
            flex-direction: column;
        }
        &__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}
