
.main {
    position: relative;
    height: 100vh;
    min-height: 820px;
    display: flex;

    align-items: center;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        background-image: url('../../../../assets/bg-wawes.png');
        background-size: cover;
        height: 100%;
        width: 50%;
    }
    .block {
        padding: 30px;
        width: 60%;
        background-color: var(--elemBgColor);
        border-radius: 20px;
        z-index: 20;
        backdrop-filter: blur(3px);
        transition: all .5s;
        &-title {
            margin-bottom: 10px;
        }
        &-subtitle {
            font-size: 30px;
            margin-bottom: 30px;
        }
        &-text {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 768px) {
        .block {
            padding: 25px;
            width: 85%;
            &-subtitle {
                font-size: 20px;
                margin-bottom: 5px;
            }
            &-text {
                font-size: 18px;
            }
            &-menu {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                &-button {
                    margin-bottom: 15px;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .block {
            padding: 10px;
            width: 100%;
            &-subtitle {
                font-size: 20px;
                margin-bottom: 15px;
            }
            &-text {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
    }
}