<div class="home">
    <section class="main">
        <div class="block shadow">
            <h1 class="title block-title text-gradient">Узнайте свой тип личности</h1>
            <h2 class="block-subtitle">И идеальную для вас профессию</h2>
            <div class="block-text">Наш сайт использует передовую AI для определения вашего типа личности и нахождения подходящей профессии. Просто ответьте на несколько вопросов, и мы поможем вам раскрыть ваш потенциал и найти идеальное направление для развития карьеры.</div>
            <div class="block-menu">
                <button mat-fab extended class="btn btn--block btn--gradient margin-right20 block-menu-button" (click)="handleOpenChat()">Узнать тип</button>
                <button mat-fab extended class="btn btn--block btn--border">Подробнее</button>
            </div>
        </div>
    </section>
</div>
