<div class="dialog-container">
    <div class="dialog-header">
        <h2 class="text-gradient">Chat</h2>
        <button mat-mini-fab class="btn btn--close dialog-btn-close" (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content dialog-chat-wrapper" #area>
        <div class="stamp" #chatArea></div>
        @if(questions === null) {
        <app-bot-message-typing></app-bot-message-typing>
        }
        @if(resultLoading) {
        <app-bot-message-typing></app-bot-message-typing>
        }
        @if(error) {
            <span class="dialog-error">Нестабильное интернет соединение</span><button mat-fab extended class="btn btn--gradient" (click)="initChat()">Попробовать снова</button>
        }
    </mat-dialog-content>
    <mat-dialog-actions class="dialog-actions dialog-chat-actions">
        @if(!started) {
        <button mat-fab extended [disabled]="questions === null" class="btn dialog-chat-btn-start"
            (click)="startChat()">Начать!</button>
        }@else {
        <div class="dialog-chat-actions-block">
            <div class="dialog-chat-actions-block-input">
                <p class="dialog-chat-input-wrap">
                    <input [disabled]="disable" [(ngModel)]="message" placeholder="Введите текст" type="text"
                        class="dialog-chat-input" (keyup.enter)="submitMessage()">
                </p>
                <button [disabled]="disable" mat-mini-fab class="btn dialog-chat-btn-send"
                    (click)="submitMessage()"><mat-icon>send</mat-icon></button>
            </div>
                <button class="open-variables-btn text-gradient" (click)="isShowAnswers = !isShowAnswers">Варианты
                    ответа</button>
        </div>
        }
        @if(isShowAnswers && currentAnswrs !== null && !disable) {
        <div class="dialog-chat-actions-block variables">
            @for(answer of currentAnswrs; track answer) {
            <button mat-fab extended class="btn btn--block btn--gradient dialog-chat-btn-variable"
                (click)="pickAnswer(answer)">{{answer}}</button>
            }
        </div>
        }
    </mat-dialog-actions>
</div>